.hero h1, h2 {
    color: #ffffff;
}

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #25CCF7;
}

.hero h1 {
    font-size: 3em;
    margin: 0 0.5em;
}

.hero .btn {
    display: block;
    width: 150px;
    padding: 1em;
    margin: 50px auto;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 20px;
    background: #3498db; 
}

.hero .btn:hover {
    background: #182C61;
}