@import url('https://fonts.googleapis.com/css?family=Lobster');

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    background: #3498db;
    width: 100%;
    height: 56px;
}

.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar__logo a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
}

.toolbar__navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.toolbar__navigation-items li {
    padding: 0 0.5rem;
}

.toolbar__navigation-items a {
    color: #ffffff;
    text-decoration: none;
}

.spacer{
    flex: 1;
}

.toolbar__navigation-items a:hover,
.toolbar__navigation-items a:active {
    color: #000000;
}

@media only screen and (max-width: 425px) {
    .toolbar__navigation-items {
        display: none;
    }

    .toolbar__navigation {
        
    }
}